{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    {# Bannière du site #}
    <div class="banner">
        <div class="banner-content">
            <h2>Cart</h2>
            <span>Vous trouverez ici les objets dans votre panier</span>
        </div>    
    </div>
    <main class="main-container">
    {# Panier #}
        <div class="box-shadow">
            <h2>Panier</h2>
            <ul class="cart-list">
                {% for cartproduct in cartproducts %}
                    <li>
                        <div class="flex-container cart-item">
                            <img src="{{ asset("uploads/shop/" ~ cartproduct.image|default('defaultimage.png')) }}" alt="{{ cartproduct.name }}">
                            <p>{{cartproduct.name}}</p>
                            {% if app.session.get("cart")[cartproduct.id] is defined %}
                                <p> x{{ app.session.get("cart")[cartproduct.id] }} </p>
                            {% endif %}
                            <a href="{{ path('app_delete_cart', { id: cartproduct.id }) }}" title="Supprimer"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {# Formulaire de validation du panier  #}
            <form class="cart-validation" action="{{ path('app_order_validation') }}">
                <div class="input-box">
                    <label hidden>Commander</label>
                    <input type="submit" id="validation" value="Commmander"></input>
                </div>
            </form>
        </div>
    </main>
{% endblock %}
