{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {# Banière du site #}
    <div class="banner">
        <div class="banner-content">
            <h2>Accueil</h2>
            <span>Vous trouverez ici l'actualité du serveur</span>
        </div>    
    </div>
    <main class="main-container">
        <div class="flex-home">
            <div class="left-asides">
                {% if app.user %}
                    {# Boite d'information de l'utilisateur si Connectés #}
                    <aside class="userbox account-infos">
                        <h2>Mon compte</h2>
                        <div class="flex-account">
                            <ul>
                                <li>Username: {{ user.username }}</li>
                                <li>Email: {{ user.email }}</li>
                                <li>Points de vote: {{ user.votepoints  }}</li>
                                <li>Points Flyff: {{ user.cashpoints }}</li>
                            </ul>
                            <div> 
                                <h3>Comptes de jeu</h3>
                                <ul>
                                    {% for gameAccount in user.gameAccounts %}
                                        <li>{{ gameAccount.nickname }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        {# Deconnexion #}
                        <a href="{{ path('app_logout') }}" title="Se deconnecter">
                            <div class="input-box">
                                <label hidden>Deconnecter</label>
                                <input type="submit" id="logout" value="Deconnexion"></input>
                            </div>  
                        </a>
                    </aside>
                {% else %}
                    {# Boite d'inscription ou connexion si déconnecté #}
                    <aside class="userbox">
                        <a href="{{ path('app_login') }}" title="Se connecter">Se connecter</a>
                        <p>ou</p>
                        <a href="{{ path('app_registration') }}" title="S'inscrire">S'inscrire</a>
                    </aside>
                {% endif %}
                {# Boite d'information GS sur le serveur #}
                <aside id="siege">
                    <h3>Siege</h3>
                    <ul>
                        <li>Couronne</li>
                        <li>MVP</li>
                    </ul>
                </aside>
            </div>
            {# Section News du serveur #}
            <section id="postbox">
                {% for post in posts %}
                    <article class="card-flex">
                        <div class="card show-modale">
                            <div class="post-img">
                                {% if post.image starts with "http" %}
                                    <img src='{{ post.image|default('defaultimage.png') }}'>
                                {% else %}
                                    <img src='{{ asset("uploads/posts/" ~ post.image|default('defaultimage.png')) }}' alt="image">
                                {% endif %}
                            </div>
                            <div class="postcontent-flex">
                                <div class="content">
                                    <h3>{{ post.title }}</h3>
                                    <p> Créé le {{ post.createdAt|date("d/m/Y") }} </p>
                                </div>
                                <p> {{ post.content|striptags|replace({'&nbsp;': ''})|slice(0, 200) }} </p>
                                {% if is_granted('ROLE_ADMIN') %}
                                        <div class="admin-tools">
                                            <a href="{{ path('app_post_create') }}" class="add-icon" title="Créer"><i class="fa-solid fa-plus"></i></a>
                                            <a href="{{ path('app_post_update', { id: post.id }) }}" class="edit-icon" title="Mettre à jour"><i class="fa-solid fa-pen"></i></a>
                                            <a href="{{ path('app_post_delete', { id: post.id }) }}" class="delete-icon" title="Supprimer"><i class="fa-solid fa-trash"></i></a>
                                        </div>
                                {% endif %}
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </section>
            {# Boite d'information Rates sur le serveur #}
            <div class="right-asides">
                <aside id="server-rates">
                    <h3>Rates</h3>
                    <ul>
                        <li>Exp: Perso</li>
                        <li>Drop: Perso</li>
                        <li>Penyas: Perso</li>
                    </ul>
                </aside>
                <aside id="server-infos">
                    <h3>Informations</h3>
                    <ul>
                        <li>Etat du serveur:</li>
                        <li>Joueurs Connectés:</li>
                        <li>Heure:</li>
                    </ul>
                </aside>
            </div>
        </div>
    </main>
    {# modale #}
    <div class="modale hidden">
        <button class="close-modale">&times;</button>
    </div>
    {# overlay ouverture/fermeture modale #}
    <div class="overlay hidden"></div>
{% endblock %}
