{% extends 'base.html.twig' %}

{% block title %}Create Products{% endblock %}

{% block body %}
    {# Banière du site #}
    <div class="banner">
        <div class="banner-content">
            <h2>Create</h2>
            <span>Création de produits</span>
        </div>    
    </div>
    <main class="main-container">
    {# formulaire de création des produits du shop #}
        <div class="form-card">
            <div class="form-content">
                <h2>CREATE</h2>
                {{ form_start(productform) }}
                    {{ form_row(productform.categories) }}
                    {{ form_row(productform.name) }}
                    {{ form_row(productform.description) }}
                    {{ form_row(productform.price) }}
                    {{ form_row(productform.image) }}
                    <div class="input-box">
                        <label hidden>Créer</label>
                        <input type="submit" value="Create">
                    </div>
                {{ form_end(productform) }}
            </div>
        </div>
    </main>
{% endblock %}

