{% extends 'base.html.twig' %}

{% block body %}
    {# Banière du site #}
    <div class="banner">
        <div class="banner-content">
            <h2>Create</h2>
            <span>Création de posts</span>
        </div>    
    </div>
    <main class="main-container">
        {# formulaire de création des posts #}
        <div class="form-card">
            <div class="form-content">
                <h2>CREATE</h2>
                {{ form_start(createpostform) }}
                    {{ form_row(createpostform.categories) }}
                    {{ form_row(createpostform.title) }}
                    {{ form_row(createpostform.content) }}
                    {{ form_row(createpostform.image) }}
                    <div class="input-box">
                        <label hidden>Créer</label>
                        <input type="submit" value="Create">
                    </div>
                {{ form_end(createpostform) }}
            </div>
        </div>
    </main>
{% endblock %}
